*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
OpenCV-android-sdk/
antlookercore/libs/
antlookercore/src/main/res/drawable/
app/libs/
import-summary.txt
openCVLibrary340/build/
projectFilesBackup/
projectFilesBackup1/
marvin/